{% load static %}
<!-- about -->
<section class="section-lg position-relative bg-cover" data-background="{% static 'images/backgrounds/about-bg' %}.jpg" id="about-us">
    <img src="{% static 'images/backgrounds/about-bg-overlay.png' %}" alt="overlay" class="overlay-image img-fluid">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-md-8 col-sm-7 col-8">
          <h2 class="text-white mb-4">Who We Are</h2>
          <p class="text-light mb-4" style="margin-left:-50%">Bits and Bytes is the partner of choice for many of the
            world’s leading enterprises, SMEs and technology
            challengers. We help businesses elevate their value
            through custom software development, product design,
            QA and consultancy services. We can help to maintain and modernize your IT
            infrastructure and solve various infrastructure-specific
            issues a business may face. Our company is a team of skilled software developers,
            designers, and project managers who are passionate
            about creating innovative and user-friendly software
            solutions. We have a diverse team with a range of
            expertise, including web and mobile development,
            data analysis, and artificial intelligence.</p>
          <a href="about.html" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-2 col-sm-4 col-4 text-right align-self-end">
          <a class="venobox" data-autoplay="true" data-vbtype="video"
            href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i
              class="text-center icon-sm icon-box rounded-circle text-white bg-gradient-primary d-block ti-control-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->