{% load static %}
<!-- call to action -->
<section id="support">
    <div class="container section-sm overlay-secondary-half bg-cover" data-background="{% static 'images/backgrounds/cta-bg' %}.jpg">
    <div class="row">
      <div class="col-lg-8 offset-lg-1">
        <h2 class="text-gradient-primary">Let's Start With Us!</h2>
        <p class="h4 font-weight-bold text-white mb-4">Experience the power of our services and discover a world of possibilities.</p>
        <a href="#contact-us" class="btn btn-lg btn-primary">Let’s talk</a>
      </div>
    </div>
  </div>
  </section>
  <!-- /call to action -->