{% load static %}
<section class="section bg-secondary position-relative">
    <div class="bg-image overlay-secondary">
      <img src="{% static 'images/feature.jpg' %}" alt="bg-image">
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row align-items-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <img src="{% static 'images/feature.jpg' %}" alt="feature-image" class="img-fluid">
            </div>
            <div class="col-lg-7 offset-lg-1">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-white">We know What Bait to Use</h2>
                  <div class="section-border ml-0"></div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="media">
                    <i class="icon text-gradient-primary ti-vector mr-3"></i>
                    <div class="media-body">
                      <h4 class="text-white">User Experience</h4>
                      <p class="text-light">Delighting your users is our expertise. From intuitive designs to seamless interactions, we craft experiences that leave a lasting impression. Partner with us for unparalleled user satisfaction.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="media">
                    <i class="icon text-gradient-primary ti-layout mr-3"></i>
                    <div class="media-body">
                      <h4 class="text-white">Responsive Layout</h4>
                      <p class="text-light">Seamlessly adapting to all devices. Our designs ensure your website looks stunning on every screen, delivering a consistent and engaging user experience. Embrace accessibility and innovation with us.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="media">
                    <i class="icon text-gradient-primary ti-headphone-alt mr-3"></i>
                    <div class="media-body">
                      <h4 class="text-white">Digital Solutions</h4>
                      <p class="text-light">Empowering your success in the digital era. Our comprehensive suite of cutting-edge services caters to all your needs, from web development to marketing. Embrace the future with us.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="media">
                    <i class="icon text-gradient-primary ti-ruler-pencil mr-3"></i>
                    <div class="media-body">
                      <h4 class="text-white">UI Kits</h4>
                      <p class="text-light">We harness the power of the best UI kit for optimal user experiences and exceptional digital solutions.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /feature -->