{% load static%}
<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'plugins/venobox/venobox.min.js' %}"></script>
<!-- shuffle -->
<script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
<!-- apear js -->
<script src="{% static 'plugins/counto/apear.js' %}"></script>
<!-- counter -->
<script src="{% static 'plugins/counto/counTo.js' %}"></script>
<!-- card slider -->
<script src="{% static 'plugins/card-slider/js/card-slider-min.js' %}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>