{% load static %}
<!-- service -->
<section class="section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <h2 class="section-title">Our Services</h2>
          <p class="lead">We Offer a Wide Variety of IT Services</p>
          <div class="section-border"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-dashboard mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-dashboard"></i>
              </div>
              <h4 class="mb-4">Web Development</h4>
              <p>We carry more than just good coding skills. Our experience makes us stand out from other web development.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          {% comment %} <div class="card hover-bg-secondary shadow py-4 active"> {% endcomment %}
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-palette mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-palette"></i>
              </div>
              <h4 class="mb-4">UI/UX Design</h4>
              <p>Build the product you need on time with an experienced team that uses a clear and effective design process.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-announcement mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-announcement"></i>
              </div>
              <h4 class="mb-4">Marketing</h4>
              <p>Unlock your business's true potential with our cutting-edge marketing services. Boost your brand's visibility, engage customers, and achieve remarkable growth. </p> 
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-rocket mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-rocket"></i>
              </div>
              <h4 class="mb-4">QA & Testing</h4>
              <p>Turn to our experts to perform comprehensive, multi-stage testing and auditing of your software.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-android mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-android"></i>
              </div>
              <h4 class="mb-4">Mobile Development
              </h4>
              <p>Create complex enterprise software, ensure reliable software integration, modernise your legacy system.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card hover-bg-secondary shadow py-4">
            <div class="card-body text-center">
              <div class="position-relative">
                <i
                  class="icon-lg icon-box bg-gradient-primary rounded-circle ti-bar-chart mb-5 d-inline-block text-white"></i>
                <i class="icon-lg icon-watermark text-white ti-bar-chart"></i>
              </div>
              <h4 class="mb-4">IT Counsultancy</h4>
              <p>Trust our top minds to eliminate workflow pain points, implement new tech, and consolidate app portfolios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /service -->