<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    {% for attendance in attendances %}
        <p>Employee: {{ attendance.employee }}</p>
        <p>Check-in: {{ attendance.check_in }}</p>
        <p>Check-out: {{ attendance.check_out }}</p>
        <p>Created at: {{ attendance.created_at }}</p>
        <p>Updated at: {{ attendance.updated_at }}</p>
        <hr>
    {% endfor %}
</body>
</html>
