{% load static %}
<head>
  <meta charset="utf-8">
  <title>Bit and Bytes | Turn your ideas into reality.</title>
  {% include 'components/headers.html' %}
</head>

<body>
<!-- Header import -->
{% include 'components/header.html' %}

<!-- banner -->
{% include 'components/banner.html' with banner_title="Bit & Bytes llc" %}

<!-- Services -->
{% include 'components/services.html' %}

<!-- feature -->
{% include 'components/feature.html' %}

<!-- Teams Here -->
{% include 'components/our-team.html' %}

<!-- About -->
{% include 'components/about.html' %}

<!-- Projects -->
{% include 'components/project.html' %}

<!-- Call to action -->
{% include 'components/call-to-action.html' %}

<!-- pricing -->
{% include 'components/pricing.html' %}

<!-- blog -->
{% include 'components/blog.html' %}

<!-- footer -->
{% include 'components/footer.html' %}

<!-- scripts -->
{% include 'components/scripts.html' %}

</body>
</html>
